.topnav{
    background-color:#0d5432 ;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topnav>p{
    margin-top: 15px;
   margin-left: 60px;
   margin-right: 60px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   cursor: pointer;
}
.topnav>p:hover{
    color: #0eb464;
    transition: 1s ease;
}
.topnav>p>i{
    margin-right: 10px;
    margin-left: 10px;
}
.bottomnav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0%;
}
.left>img{
    margin-left:100px;
    height: 40px;
    width: auto;
    margin-top: 15px;
}
.right>ul>li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 40px;
    color: #71789a;
    cursor: pointer;
}
.right>ul>li>.link:hover{
    color: #0eb464;
}
.right>ul>li>.link{
    text-decoration: none;
    color: green;
}


.main{
    background-color: #0d5432;
    width: 100%;
    height: auto;
}

.main>img{
    height: 85px;
    width: auto;
    position: fixed;
    bottom: 20px;
    margin-left: 10px;
}
.main>.what{
    right: 0px;
    margin-bottom: 300px;
    cursor: pointer;
}

.main>.what{
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes moving{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px)
    }
    100%{
        transform: translateY(0px);
    }
}


.gridcontainer{
    /* border: 1px solid red; */
    width: 1110px;
    height: auto;
    margin-left: 120px;
}
.gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
  }

.grid1{
    border: 1px solid white;
    height:260px ;
    width:260px ;
    margin-bottom: 30px;
}

h1{
    text-align: center;
    color: white;
    padding-top: 60px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.gridcontainer2{
    /* border: 1px solid red; */
    width: 1110px;
    height: auto;
    margin-left: 120px;
    padding-bottom:60px ;
}
.gridcontainer2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.grid1>i{
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}
.grid1{
    text-align: center;
}
.grid1>p>span{
    color: yellow;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.grid1>p{
    padding-top: 15px;
    font-size: 17px;
    color: white;
    line-height: 22px;
}

.grid2{
    border: 1px solid #0d5432;
    height:260px ;
    width:260px ;
    margin-bottom: 30px;
}

.formcontainer{
    height: 670px;
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
}
.left2{
    /* border: 1px solid red; */
    width: 860px;
    height: 100vh;
}
.right2{
    /* border: 1px solid red; */
    width: 480px;
    height: 100vh;
}
.left2>h1{
    text-align: right;
    margin-right: 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.left2>h1>span{
    color: #2fa66b;
}
.left2>p{
    margin-left: 110px;
    font-size: 17.5px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}
.top{
    /* border: 1px solid red; */
    width: 750px;
    height: 500px;
    margin-left: 110px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
}
.grid3{
    height: 200px;
    width: 370px;
    /* border: 1px solid blue; */
    margin-top: 20px;
}

.grid3>h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.grid3>p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 18px;
    color: rgb(67, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
}
.grid3>p>i{
    color: white;
    background-color: grey;
    margin-right: 10px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;

}
.right2>form{
    padding-top: 105px;
}
.right2>form>input{
    width: 360px;
    margin-left: 5px;
    margin-top: 17px;
    height: 42px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid green;
}
.right2>form>textarea{
    width: 360px;
    margin-left: 5px;
    margin-top: 17px;
    height: 70px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
}

.right2>form>button{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, rgb(4, 56, 5) , #0b884c);
    margin-left: 120px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.right2>form>button:hover{
    color: rgb(7, 66, 7);
    background: white;
}

.mapsection{
    width: 100%;
    height: auto;
    border: 1px solid brwon;
}
.map1{
    display: flex;
}
.mapleft{
    height: 310px;
    width: 960px;
    border: 1px solid rgb(30, 0, 255);
}
.mapright{
    height: 310px;
    width: 380px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #5a6151;
}

.mapright>h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}
.mapright>h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}
.mapright>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    line-height: 30px;
    padding-left: 20px;

}
.mapright>p>i{
    margin-right: 10px;
}




.footer11{
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
}
.gridcontainer11{
    height: 100%;
    width: 1110px;
    /* border: 1px solid white; */
   margin-left: 120px;
}
.gridcontainer11>div{
    /* border: 1px solid white; */
    width: auto;
    height: 250px;
}
.gridcontainer11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .grid11{
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 17px;
    line-height: 25px;
  }

  .grid11>p>i{
    color: #ad2442;
    margin-left: -22px;
  }
  .grid11>h6{
    margin-left: -22px;
    font-size: 15px;
  }
  .grid11>h6>span{
    font-size: 15px;
    color: #2d865a;
  }